*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: rgb(23, 23, 102);
}

.text-center{
   text-align: center;
}

.text-white{
   color: white;
}

#container_1{
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 
}

.ciclo{
  width: calc((100% / 7) - 40px);
  aspect-ratio: 1;
  margin: 0 20px 40px;
  background-color: #1389b2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
}

.fizz{
   color: red;
   background-color: saddlebrown;
}

.buzz{
   color: green;
   background-color: aqua;
}

.fizzbuzz{
   color: violet;
   background-color: bisque;
}

